<!-- Loop over each object in the projects array -->
<h2 class="ml-2 mb-3">Welcome Pet Enthusiast! Check out the latest:</h2>
<div class="container">
  <div class="row mb-4 justify-center">
  {{#each posts as |post| }}
  <div class="col-md-5 m-3 card">
    <div>
      <h2>
        <a href="/post/{{post.id}}">{{post.title}}</a> 
      </h2>
    
      <p style="font-style:italic">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    
    </div>
    <div>
      <img src={{post.image}}>
    </div>
  </div>
  {{/each}}
</div>
</div>

